@model clinicaMedica.Models.Cita

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Cita</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="PacienteId" class="control-label"></label>
                <input asp-for="PacienteId" class="form-control" />
                <span asp-validation-for="PacienteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicoId" class="control-label"></label>
                <input asp-for="MedicoId" class="form-control" />
                <span asp-validation-for="MedicoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EspecialidadId" class="control-label"></label>
                <input asp-for="EspecialidadId" class="form-control" />
                <span asp-validation-for="EspecialidadId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaHora" class="control-label"></label>
                <input asp-for="FechaHora" class="form-control" />
                <span asp-validation-for="FechaHora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Especialidad" class="control-label"></label>
                <input asp-for="Especialidad" class="form-control" />
                <span asp-validation-for="Especialidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medico" class="control-label"></label>
                <input asp-for="Medico" class="form-control" />
                <span asp-validation-for="Medico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paciente" class="control-label"></label>
                <input asp-for="Paciente" class="form-control" />
                <span asp-validation-for="Paciente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tratamientos" class="control-label"></label>
                <input asp-for="Tratamientos" class="form-control" />
                <span asp-validation-for="Tratamientos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
